.message-page {
  grid-area: content;
  min-height: calc(100vh - 60px);
  padding: 76px 16px 16px;
  background: #f3f2ef;

  .gif-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55vh;

    .loading-gif {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 630px) {
  .message-page {
    min-height: calc(100vh - 56px);
    padding: 56px 0 0;
  }
}
